/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom styles */
body {
	padding: 56px 36px;
	font-family: 'Roboto', sans-serif;
}
#root {
    
	max-width: 1068px;
	width: 100%;
	margin: 24px auto;
}

.main-section {
	box-shadow: 0 8px 8px 2px rgba(0,0,0,0.1);
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 36px;
	display: flex;
	justify-content: space-between;
}

.aside-img {
	width: 35%;
	display: flex;
}
.aside-img img {
	width: 100%;
	object-fit: cover;
	border-top-left-radius: 36px;
	border-bottom-left-radius: 36px;
}


/* form */


form {
	width: 65%;
	padding: 56px 88px 56px 56px;
}

.f-header {
	padding-bottom: 48px;
	display: flex;
	margin-bottom: 36px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
.f-header div {
	margin-right: 36px;
	color: rgba(0,0,0,0.5);
	font-size: 18px;
}
.f-header div span {
	background-color: rgba(0,0,0,0.1);
	padding: 10px 16px;
	margin-right: 10px;
	color: rgba(0,0,0,0.4);
	border-radius: 6px;
	font-weight: 650;
}
.blue {
	background-color: rgba(26, 26, 248,0.6) !important;
	color: rgba(255,255,255,1) !important ;
}

/* middle section */

.middle-section {
	padding-bottom: 24px;
	margin-bottom: 36px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.middle-section h1 {
	color: rgba(0,0,0,0.4);
	margin-bottom: 12px;
	font-size: 16px;
}
.middle-section h2 {
	color: rgba(3, 3, 68, 0.9);
	margin-bottom: 36px;
	font-size: 22px;
	font-weight: 750;
}

/* page-1 section */

.name-sec, .email-sec {
	display: flex;
	justify-content: space-between;
	margin-right: 24px;
	align-items: center;
}
.name-sec div label, .email-sec div label {
	display: block;
	margin-bottom: 6px;
	font-size: 14px;
	font-weight: 500;
	color: rgba(3, 3, 68, 0.9);
}
.name-sec div input,.email-sec div input {
	margin-bottom: 24px;
	color: rgba(3, 3, 68, 0.9);
	padding: 10px 12px;
	border-radius: 6px;
	font-size: 16px;
	outline: 0;
	border: 1px solid rgba(0,0,0,0.4);
}
.name-sec div input:focus {
	box-shadow:  0 0 4px 0px rgba(26, 26, 248,1);
}
.email-sec div input:focus {
	box-shadow:  0 0 4px 0px rgba(26, 26, 248,1);
}

.address label {
	display: block;
	margin-bottom: 6px;
	font-size: 14px;
	font-weight: 500;
	color: rgba(3, 3, 68, 0.9);
}

.address input {
	width: 91.5%;
	margin-bottom: 24px;
	color: rgba(3, 3, 68, 0.9);
	padding: 10px 12px;
	border-radius: 6px;
	font-size: 16px;
	outline: 0;
	border: 1px solid rgba(0,0,0,0.4);
}
.address input:focus {
	box-shadow:  0 0 4px 0px rgba(26, 26, 248,1);
}

.error {
	border: 1px solid rgba(201, 5, 5,0.9) !important;
	color: rgba(201, 5, 5,0.9) !important;
	background-color: rgba(228, 179, 187,0.7) !important;
}
.email-sec span {
	transform: translateY(-16px);
	font-size: 14px;
}
.err {
	display: block;
	color: rgba(201, 5, 5,0.9) !important;
}

/* page-2 section */

.message-field label {
	display: block;
	margin-bottom: 6px;
	font-size: 14px;
	font-weight: 500;
	color: rgba(3, 3, 68, 0.9);
}

.message-field textarea {
	width: 91.5%;
	margin-bottom: 24px;
	color: rgba(3, 3, 68, 0.9);
	padding: 10px 12px;
	border-radius: 6px;
	font-size: 16px;
	outline: 0;
	border: 1px solid rgba(0,0,0,0.4);
}
.message-field textarea:focus {
	box-shadow:  0 0 4px 0px rgba(26, 26, 248,1);
}

.select-choice div {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.select-choice div input {
	margin-bottom: 6px;
	border-radius: 50%;
	margin-right: 4px;
}
.select-choice div label {
	margin-bottom: 6px;
	font-size: 14px;
	margin-right: 36px;
	font-weight: 500;
	color: rgba(3, 3, 68, 0.7);
}

/* page-3 section */
.page3-checkbox {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 36px;
}
.page3-checkbox button {
	padding: 24px 60px;
	font-size: 40px;
	background-color: antiquewhite;
	outline: 0;
	border-radius: 6px;
	color: rgba(0, 0, 0,0.4);
	border: 1px solid rgba(0,0,0,0.4);
}


.select-choice-3 {
	display: flex;
	flex-direction: column;
	/* justify-content: space-evenly; */
	/* align-items: center; */
}
.select-choice-3 div input {
	margin-bottom: 6px;
	border-radius: 50%;
	margin-right: 4px;
}
.select-choice-3 div label {
	margin-bottom: 6px;
	font-size: 14px;
	font-weight: 500;
	color: rgba(3, 3, 68, 0.7);
}


/* bottom btns */

.bottom-btns {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.bottom-btns span, .bottom-btns input {
	background-color: rgba(26, 26, 248,0.6);
	color: rgba(255,255,255,1);
	cursor: pointer;
	border: 0;
	padding: 6px 22px;
	border-radius: 4px;
	font-size: 20px;
}


.hidden {
	display: none !important;
}